In [13]:
def SubFields():
    fields= "\n Machine Learning\n Neural Networks \n Vision Robotics \n Speech Processing \n Natural Language Processing"
    return fields

In [14]:
print("Sub-fields in AI are:", SubFields())

Sub-fields in AI are:
 Machine Learning
 Neural Networks
 Vision Robotics
 Speech Processing
 Natural Language Processing

In [15]:
def OddEven():
    num = int(input("Enter a Number: "))
    if((num % 2) == 1):
        print(num, "is Odd Number")
    else:
        print(num, "is Even Number")

In [16]:
OddEven()

Enter a Number:  52452

52452 is Even Number

In [17]:
def Eligible():
    gender=input("Enter the gender: ")
    age=int(input("Enter the age" ))
    if(gender == "male" and age < 21) or (gender == "female" and age < 18):
        print("NOT ELIGIBLE")
    else:
        print("ELIGIBLE")

In [18]:
Eligible()

Enter the gender:  male
Enter the age 20

NOT ELIGIBLE

In [11]:
def Percentage():
    subject1 = int(input("Subject1 :"))
    subject2 = int(input("Subject2 :"))
    subject3 = int(input("Subject3 :"))
    subject4 = int(input("Subject4 :"))
    subject5 = int(input("Subject5 :"))
    Total = subject1 + subject2 + subject3 + subject4 + subject5
    print("Total : ", Total)
    Percentage = Total / 5
    print("Percentage : ", f"{Percentage:.13f}")

In [10]:
Percentage()

Subject1 : 98
Subject2 : 87
Subject3 : 95
Subject4 : 95
Subject5 : 93

Total :  468
Percentage :  93.600000000000

In [23]:
def Triangle():
    hgt = int(input("Height :"))
    brt = int(input("Breadth :"))
    print("Area Formula: (Height * Breadth) / 2 ")
    Area = (hgt * brt)/2
    print("Area of Triange: ", Area)    
    hgt1 = int(input("Height1 :"))
    hgt2 = int(input("Height2 :"))
    brt = int(input("Breadth1 :"))
    print("Perimeter formula: Height1+Height2+Breadth")
    Peri = hgt1 + hgt2 + brt
    print("Perimeter of Triange: ", Peri)

In [24]:
Triangle()

Height : 3
Breadth : 4

Area Formula: (Height * Breadth) / 2
Area of Triange:  6.0

Height1 : 2
Height2 : 4
Breadth1 : 4

Perimeter formula: Height1+Height2+Breadth
Perimeter of Triange:  10