In [3]:
for item in range(0,20):
    print(item)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
for item in range(10,20):
    print(item)

10
11
12
13
14
15
16
17
18
19

In [14]:
lst = [10, 20, 14, 55, 43, 87, 76]
print(lst)
print("Number of itemsin the list : ", len(lst))

[10, 20, 14, 55, 43, 87, 76]
Number of itemsin the list :  7

In [18]:
strAI = "Artificial Intelligence"
for s in strAI:
    print(s)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [20]:
input("-Your Name-")
input("-Your Age-")
input("-Your Profession-")

-Your Name- John
-Your Age- 15
-Your Profession- Student

'Student'

In [21]:
tup = (1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [24]:
tup1 =(0, 1, 2, 3)
tup2 = ('python', 'HOPE')
tup3 =(tup1, tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [27]:
OddList = [20,10,16,19,25,1,276,188]
for i in OddList:
    if(i % 2) != 0:
        print(i, "is odd number")
    else:
        print(i, "is not a odd number")

20 is not a odd number
10 is not a odd number
16 is not a odd number
19 is odd number
25 is odd number
1 is odd number
276 is not a odd number
188 is not a odd number

In [28]:
evenList = [20,10,16,19,25,1,276,188]
for i in evenList:
    if( i % 2) == 0:
        print(i, "is an Even number")
    else:
        print(i, "is NOT an Even number")

20 is an Even number
10 is an Even number
16 is an Even number
19 is NOT an Even number
25 is NOT an Even number
1 is NOT an Even number
276 is an Even number
188 is an Even number