In [ ]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

In [ ]:
The "Math" in print is M capital

In [ ]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

In [ ]:
x is not declared in my_function, use x=10 in the function or add parameter x to the function, pass x = 10 and call the function

In [ ]:
#3.x = 5
if x = 10:
    print("x is 10")

In [ ]:
In if condition to compare a value == operator must be used

In [ ]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

In [ ]:
# First sort numbers numbers.sort() then print(numbers)
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

In [ ]:
#5.
def square(n):
    n * n

print(square(4))

In [ ]:
# In the function return statement is missing


def square(n):
    return n * n
    

print(square(4))

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [ ]:
Tuple is immutable , cannot modified the values

In [ ]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

In [ ]:
# age is missing in the tuple 
print("My name is %s and I am %d years old" % (name,age))

In [ ]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [ ]:
Instead of "is" it must be ==, "is" to compare objects in memory

In [ ]:
#9.
for i in range(5, 1):
    print(i)

In [ ]:
#To print in reverse order add -1 in range
for i in range(5, 1, -1):
    print(i)

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

In [ ]:
#name must be in quote(") , since student is a dictionary using key/value pair
#to retrive the value from Dict, either asign the key to the variable name or direclty print in double quotes
print(student["name"])