In [1]:
#1.Find the error in the following Python code:

#Solution: The "Math" in print is M capital
import math
print(math.sqrt(16))

4.0

In [2]:
#2.Find the error in the following Python code:

#Solution: x is not declared in my_function, use x=10 in the function or add parameter x to the function, pass x = 10 and call the function
def my_function(x):
    x += 5
    print(x)

x = 10
my_function(x)

15

In [4]:
#3.
#Solution: In if condition to compare a value == operator must be used
x = 5
if x == 10:
    print("x is 10")
else:
    print("Not Matching")

Not Matching

In [6]:
#4.
#Solution: First sort numbers numbers.sort() then print(numbers)
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [7]:
#5.

#Solution: In the function return statement is missing

def square(n):
    return n * n
    

print(square(4))

16

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [ ]:
Tuple is immutable , cannot modified the values

In [9]:
#7.
#Solution: age is missing in the tuple 
print("My name is %s and I am %d years old" % (name,age))

My name is Alice and I am 25 years old

In [11]:
#8.
#Solution Instead of "is" it must be ==, "is" to compare objects in memory
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [12]:
#9.
#Solution: To print in reverse order add -1 in range
for i in range(5, 1, -1):
    print(i)

5
4
3
2

In [15]:
#10.
#Solution:
#name must be in quote(") , since student is a dictionary using key/value pair
#to retrive the value from Dict, either asign the key to the variable name or direclty print in double quotes
student = {"name": "John", "age": 20}
print(student["name"])

John